<div *ngIf="enumFilter">
  <mat-checkbox class="filter-checkbox" [disabled]="isLoading" [checked]="allChecked"
    [indeterminate]="isFewSelected()" (change)="setAll($event.checked)">
    {{enumFilter.getName()}}:
  </mat-checkbox>
  <div class="filter-sub-checkbox-wrap" *ngFor="let i of enumFilter.items">
    <mat-checkbox class="filter-sub-checkbox" [disabled]="isLoading"
      [(ngModel)]="i.checked" (ngModelChange)="onChange($event.checked)">
      {{i.name}}
    </mat-checkbox>
  </div>
</div>
