#cars-score-sidebar{
  width: 280px;
  margin: 30px;
  padding: 15px;
  border: 3px outset coral;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.criteria-input{
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
  text-align: right;
  mat-label{
    width:85px;
    margin: auto;
  }
}

#generate-button{
  margin-top: 10px;
  width: 100%;
}

#cars_table{
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .mat-row {
    transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      background-color: #EFEBF7;
      cursor: pointer;
    }
  }

  .mat-row, .mat-footer-row {
    height: 38px;
  }

  .mat-column-name {
    width: 50% !important;
  }
  .mat-column-overallScore,
  .mat-column-performanceScore,
  .mat-column-capacityScore {
    width: 12% !important;
  }
  .mat-column-environmentScore{
    width: 14% !important;
  }

  .cars_table-score_col_text{
    text-align: center;
  }

  .car-performance-score{
      color: #8B3E3B;
  }
  .car-environment-score{
      color: #3B8B3E;
  }
  .car-capacity-score{
      color: #3E3B8B;
  }
}

#load_progress{
  width: 900px;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

#progress-value{
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 60px;
}

#progress-value-text{
  font-size: 16px;
  font-weight: bold;
  color: #3f51b5;
}

#cars-container{
  display: flex;
  justify-content: center;
}

#cars-filter-sidebar{
  width: 280px;
  margin: 30px;
  padding: 15px;
  border: 3px outset coral;
  border-radius: 12px;
}

#filter-button{
  margin-top: 20px;
  width: 100%;
}

#record-count-info{
  color: #585858;
  margin-top: 30px;
}

#prod-year-filter{
  margin-top: 20px;
}
