#pair_comparison_inputs
{
    margin: 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.car-performance-score
{
    color: #8B3E3B;
}

.car-environment-score
{
    color: #3B8B3E;
}

.car-capacity-score
{
    color: #3E3B8B;
}
