#cars-score-sidebar{
  width: 180px;
  margin: 30px;
}

.car-performance-score
{
    color: #8B3E3B;
}

.car-environment-score
{
    color: #3B8B3E;
}

.car-capacity-score
{
    color: #3E3B8B;
}

#generate-button{
  margin-top: 10px;
  width: 100%;
}

#cars_table{
  width: 700px;
}

.mat-column-name {
  width: 60% !important;
}

.mat-column-overallScore,
.mat-column-performanceScore,
.mat-column-environmentScore,
.mat-column-capacityScore {
  width: 10% !important;
  //text-align: right;
}

#cars-container{
  display: flex;
  justify-content: center;
}

#cars-filter-sidebar{
  width: 280px;
  margin: 30px;
}

#filter-button{
  margin-top: 20px;
  width: 100%;
}

#record-count-info{
  color: #585858;
  margin-top: 30px;
}
