<div id="cars-container">
  <div id="cars-filter-sidebar" *ngIf="enumFilters">
    <app-checkboxlist *ngFor="let i of enumFilters" [isLoading]="isLoading" [enumFilter]="i" (filterChanged)="filterChanged()"></app-checkboxlist>
    <div id="prod-year-filter" *ngIf="ngxOptions">
      <mat-checkbox [disabled]="isLoading" [(ngModel)]="filterYear" (change)="filterChanged()">Ražošanas gads</mat-checkbox>
      <ngx-slider *ngIf="!isLoading" [(value)]="minProductionYear" [(highValue)]="maxProductionYear" [options]="ngxOptions"
        (userChange)="filterChanged()"></ngx-slider>
    </div>
  </div>
  <div id="cars_table">
    <table mat-table [dataSource]="carsDataSource"
      matSort matSortActive="name" matSortDirection="asc" (matSortChange)="resetPaging()">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let car"> {{car.name}} </td>
      </ng-container>
      <ng-container matColumnDef="performanceScore" justify="end">
        <th class="cars_table-end_column" mat-header-cell *matHeaderCellDef mat-sort-header>Veiktspēja</th>
        <td class="car-performance-score cars_table-score_col_text" mat-cell *matCellDef="let car">{{car.performanceScore | percent : '1.0-0'}}</td>
      </ng-container>
      <ng-container matColumnDef="environmentScore" justify="end">
        <th class="cars_table-end_column" mat-header-cell *matHeaderCellDef mat-sort-header>Draudzīgums videi</th>
        <td class="car-environment-score cars_table-score_col_text" mat-cell *matCellDef="let car">{{car.environmentScore | percent : '1.0-0'}}</td>
      </ng-container>
      <ng-container matColumnDef="capacityScore" justify="end">
        <th class="cars_table-end_column" mat-header-cell *matHeaderCellDef mat-sort-header>Ietilpība</th>
        <td class="car-capacity-score cars_table-score_col_text" mat-cell *matCellDef="let car">{{car.capacityScore | percent : '1.0-0'}}</td>
      </ng-container>
      <ng-container matColumnDef="overallScore" justify="end">
        <th class="cars_table-end_column" mat-header-cell *matHeaderCellDef mat-sort-header>Kopā</th>
        <td class="cars_table-score_col_text" mat-cell *matCellDef="let car">{{car.overallScore | percent : '1.0-0'}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showCarDetes(row.id)" [hidden]="isLoading"></tr>
    </table>
    <mat-paginator [length]="carsDataSource.filteredData.length" [pageSize]="20" [hidePageSize]="true"></mat-paginator>
    <div id="load_progress" *ngIf="isLoading">
      <div class="spinner-container">
          <mat-progress-spinner [mode]="loadingMode" [value]="progressValue"></mat-progress-spinner>
          <div id="progress-value" *ngIf="loadingMode == 'determinate'">
            <div id="progress-value-text">{{progressValue}} %</div>
          </div>
      </div>
    </div>
  </div>
  <div id="cars-score-sidebar">
    <div class="criteria-input">
      <mat-label>Veiktspēja</mat-label>
      <mat-slider id="performance_input" [(ngModel)]="performance" [disabled]="isLoading" thumbLabel step="1" min="0" max="100"></mat-slider>
    </div>

    <div class="criteria-input">
      <mat-label>Draudzīgums videi</mat-label>
      <mat-slider id="environment_input" [(ngModel)]="environment" [disabled]="isLoading" thumbLabel step="1" min="0" max="100"></mat-slider>
    </div>

    <div class="criteria-input">
      <mat-label>Ietilpība</mat-label>
      <mat-slider id="capacity_input" [(ngModel)]="capacity" [disabled]="isLoading" thumbLabel step="1" min="0" max="100"></mat-slider>
    </div>

    <button [disabled]="isLoading" id="generate-button" mat-raised-button (click)="generateClick()" type="button" name="button" color="primary">Meklēt</button>
  </div>
</div>
