/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#performance_input:not(.mat-slider-disabled){
  .mat-slider-thumb, .mat-slider-track-fill, .mat-slider-thumb-label{
    background-color: #df5b65 !important;
  }
}

#environment_input:not(.mat-slider-disabled){
  .mat-slider-thumb, .mat-slider-track-fill, .mat-slider-thumb-label{
    background-color: #65df5b !important;
  }
}

#capacity_input:not(.mat-slider-disabled){
  .mat-slider-thumb, .mat-slider-track-fill, .mat-slider-thumb-label{
    background-color: #5b65df !important;
  }
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% !important;
  top: -15px !important;
}
.mat-slider-disabled .mat-slider-thumb-label{
  display: flex !important;
  background-color: rgb(158,158,158) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

#cars_table .cars_table-end_column .mat-sort-header-container{
  justify-content: center !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  border-radius: 50% !important;
}
.ngx-slider .ngx-slider-pointer::after {
  display: none !important;
}
.ngx-slider:not([disabled]) .ngx-slider-pointer {
  background-color: #3f51b5 !important;
}
.ngx-slider:not([disabled]) .ngx-slider-selection {
  background: #3f51b5aa !important;
}
