#car-detes-card
{
  width: 1000px;
  height: 520px;

  .mat-list{
    width: 100%;
  }
  .mat-line{
    display: flex;
    justify-content: space-between;
  }
}

.car-detes-group{
  width:280px;
}

mat-card-content{
  display: flex;
  justify-content: space-between;
}

#body_group{
  background-color: #d8d7e7
}

#performance_group{
  background-color: #e7d8d7
}

#environment_group{
  background-color: #d7e7d8
}
