<mat-card id="car-detes-card" *ngIf="car">
  <mat-card-header>
    <mat-card-title>{{car.name}}</mat-card-title>
    <mat-card-subtitle>{{car.productionDate}}</mat-card-subtitle>
  </mat-card-header>
  <!--img src="{{car.image}}" width="400" height="220"/-->
  <mat-card-content>
    <mat-card id="performance_group" class="car-detes-group">
      <mat-card-header>
        <mat-card-title>Veiktspēja</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-list>
        <mat-list-item *ngIf="car.driveWheelConfiguration">
          <div matLine>
            <p>Piedziņa</p>
            <p>{{getDriveWheelConfigurationName(car.driveWheelConfiguration)}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.transmission">
          <div matLine>
            <p>Pārnesumkārba</p>
            <p>{{getTransmissionName(car.transmission)}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.numberOfForwardGears">
          <div matLine>
            <p>Pārnesumu skaits</p>
            <p>{{car.numberOfForwardGears}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.accelerationTime">
          <div matLine>
            <p>Paātrinājums 0-100kms</p>
            <p>{{car.accelerationTime}} s</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.speed">
          <div matLine>
            <p>Maksimālais ātrums</p>
            <p>{{car.speed}} kms</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.engineDisplacement">
          <div matLine>
            <p>Dzinēja tilpums</p>
            <p>{{car.engineDisplacement}} cm3</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.enginePower">
          <div matLine>
            <p>Dzinēja jauda</p>
            <p>{{car.enginePower}} ZS</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.torque">
          <div matLine>
            <p>Griezes moments</p>
            <p>{{car.torque}} Nm</p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>
    <mat-card id="environment_group" class="car-detes-group">
      <mat-card-header>
        <mat-card-title>Vide</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-list>
        <mat-list-item *ngIf="car.fuelType">
          <div matLine>
            <p>Degviela</p>
            <p>{{getFuelTypeName(car.fuelType, true)}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.fuelCapacity">
          <div matLine>
            <p>Degvielas apjoms</p>
            <p>{{car.fuelCapacity}} l</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.fuelConsumption">
          <div matLine>
            <p>Patēriņš</p>
            <p>{{car.fuelConsumption}} l/100km</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.emissionsCO2">
          <div matLine>
            <p>CO2 emisija</p>
            <p>{{car.emissionsCO2}} g/km</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.meetsEmissionStandard">
          <div matLine>
            <p>Standarts</p>
            <p>{{getEmissionStandardName(car.meetsEmissionStandard)}}</p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>
    <mat-card id="body_group" class="car-detes-group">
      <mat-card-header>
        <mat-card-title>Vīrsbūve</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-list>
        <mat-list-item *ngIf="car.bodyType">
          <div matLine>
            <p>Tips</p>
            <p>{{getBodyTypeName(car.bodyType)}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.height">
          <div matLine>
            <p>Augstums</p>
            <p>{{car.height}} cm</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.width">
          <div matLine>
            <p>Platums</p>
            <p>{{car.width}} cm</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.wheelbase">
          <div matLine>
            <p>Riteņu bāze</p>
            <p>{{car.wheelbase}} cm</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.weight">
          <div matLine>
            <p>Svars</p>
            <p>{{car.weight}} kg</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.numberOfDoors">
          <div matLine>
            <p>Durvju skaits</p>
            <p>{{car.numberOfDoors}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.seatingCapacity">
          <div matLine>
            <p>Sēdvietu skaits</p>
            <p>{{car.seatingCapacity}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="car.cargoVolume">
          <div matLine>
            <p>Ietilpība</p>
            <p>{{car.cargoVolume}} l</p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
